<h1><a id="Find_Interfaces_0"></a>Find Interfaces</h1>
<p>Search motifs interfaces in PDB complexes.</p>
<h2><a id="REST_API_3"></a>REST API</h2>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>url</th><th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>/</td><td>This help page</td>
        </tr>
        <tr>
            <td>/pdb/&lt;PDBID&gt;</td><td>Return the result of Find Interfaces for &lt;PDBID&gt;. Variables: outfmt={'full_json', 'json', 'small_json'} </td>
        </tr>
    </tbody>
</table>